.tab {
  background-color: white;
  color: black;
  height: 50px;
  width: 100px;
}

.tab:hover {
  background-color: yellow;
}

.active {
  background-color: yellow;
  color: black;
  height: 50px;
  width: 100px;
}
